.content {
    background-color: #FAFAFA;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.content-img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;

    background-color: #ffcdd2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.content-username {
    height: 30px;
    width: 100px;
    position: absolute;
    /*text-align: left;*/
    margin-left: 80px;
    margin-top: 22px;
}

.content-time {
    height: 30px;
    /*width: 100px;*/
    position: absolute;
    margin-left: 80px;
    margin-top: 45px;
    font-size: 60%;
    color: #BDBDBD;
}

.content-other {
    background-image: url("../../weibo/img/箭头.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 35px;
    margin-left: 335px;
}

.content-content {
    position: absolute;
    width: 90%;
    font-size: 105%;
    /*align-content: center;*/
    margin-top: 79px;
    margin-left: 20px;
}

.content-more {
    font-size: 105%;
    position: absolute;
    margin-top: 223px;
    margin-left: 295px;
}

.content-img2 {
    background-image: url("../../weibo/img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 172px;
    position: absolute;
    margin-top: 245px;
    margin-left: 20px;
}

.content-line {
    width: 90%;
    height: 1px;
    box-shadow: 0px 1px 1px #E0E0E0;
    position: absolute;
    margin: auto;
    /*margin-top: 400px;*/
    /*margin-left: 20px;*/
    left: 0;
    right: 0;
    bottom: 175px;
}

.content-good {
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.content-g1 {
    background-image: url("../../weibo/img/赞.svg");
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: center;
    flex:1
}

.content-g2 {
    background-image: url("../../weibo/img/评论.svg");
    background-repeat: no-repeat;
    background-size: 26%;
    background-position: center;
    flex:1
}

.content-g3 {
    background-image: url("../../weibo/img/转发.svg");
    background-repeat: no-repeat;
    background-size: 21%;
    background-position: center;
    flex:1
}

.content-g4 {
    background-image: url("../../weibo/img/分享.svg");
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: center;
    flex:1
}

.content_evaluate {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0px;
    background-color: #F5F5F5;
    box-shadow: 0px -1px 1px #E0E0E0;
}

.content_evaluate_text {
    position: absolute;
    color: #BDBDBD;
    margin-left: 15px;
    height: 50px;
    margin-top: 14px;
    /*width: 60px;*/
}

.content_tendency {
    position: absolute;
    height: 55px;
    width: 300px;
    margin-top: 20px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    /*align-content: center;*/
}

.content_tendency1 {
    background-color: #FFA726;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("../../weibo/img/超级话题.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.content_tendency2 {
    background-color: #FF7043;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("../../weibo/img/排行榜.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.content_tendency3 {
    background-color: #F06292;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("../../weibo/img/钻石.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.content_tendency_name {
    position: absolute;
    height: 35px;
    width: 300px;
    margin-top: 75px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.content_tendency_name1 {
    height: 35px;
    width: 50px;
    color: #BDBDBD;
    font-size: 75%;
    margin-top: 6px;
}

.content_tendency_name2 {
    height: 35px;
    width: 37px;
    color: #BDBDBD;
    font-size: 75%;
    margin-top: 6px;
}

.content_tendency_name3 {
    height: 35px;
    width: 37px;
    color: #BDBDBD;
    font-size: 75%;
    margin-top: 6px;
}

.content_lable {
    height: 32px;
    width: 100%;
    border-bottom: #E0E0E0 1px solid;
}

.content_lable_text {
    height: 32px;
    width: 80px;
    color: #BDBDBD;
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
    font-size: 80%;
}

.content_lable_more {
    height: 32px;
    width: 80px;
    color: #2196F3;
    position: absolute;
    margin-top: 7px;
    margin-left: 335px;
    font-size: 80%;
}

.content_search_class1 {
    height: 118px;
    width: 120px;
    position: absolute;
    margin-left: 15px;
    margin-top: 55px;
}

.content_search_class2 {
    height: 118px;
    width: 120px;
    position: absolute;
    margin-left: 15px;
    margin-top: 100px;
}

.content_search_class3 {
    height: 118px;
    width: 150px;
    position: absolute;
    margin-left: 200px;
    margin-top: 55px;
}

.content_search_class4 {
    height: 118px;
    width: 150px;
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
}

.content_search_class1_img {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-size: 35%;
    background-color: #FFA726;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 58px;
    margin-left: 94px;
}

.content_search_class2_img {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-size: 35%;
    background-color: #29B6F6;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 103px;
    margin-left: 116px;
}

.content_search_class3_img {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-size: 35%;
    background-color: #FF5722;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 58px;
    margin-left: 335px;
}

.content_search_class4_img {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    font-size: 35%;
    background-color: #FF6F00;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 103px;
    margin-left: 332px;
}