.title_back{
    background-color: #F5F5F5;
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row;

    box-shadow: 0px 1px 1px #E0E0E0;

}

.title_left{
    /*background-color: cornflowerblue;*/
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 37px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.title_center {
    width: 100%;
    height: 50px;
    font-size: 115%;
    flex: 1;
    align-items: center;
}

.title_right1 {
    background-image: url("../../weibo/img/搜索.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 45px;
    top: 45px;
}

.title_right2 {
    background-image: url("../../weibo/img/编辑.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 45px;
}

.title_other {
    background-image: url("../../weibo/img/箭头.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 53px;
    right: 135px;
}

.title_search {
    width: 300px;
    height: 30px;
    background-color: #E0E0E0;
    border-radius: 5px;
    position: absolute;
    margin-top: 12px;
    margin-left: 20px;
}

.title_search_icon {
    background-image: url("../../weibo/img/搜索.svg");
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 40px;
    margin-top: 6px;
    background-size: 60%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.title_search_text {
    height: 30px;
    width: 300px;
    color: #BDBDBD;
    position: absolute;
    margin-top: 4px;
    margin-left: 62px;
    font-size: 90%;
}

.title_under_class_left {
    width: 40px;
    height: 38px;
    color: #FF5722;
    margin-top: 60px;
    margin-left: 131px;
    position: absolute;
    border-bottom: #FF5722 2px solid;
    text-align: center;
}

.title_under_class_right {
    width: 40px;
    height: 38px;
    color: #9E9E9E;
    margin-top: 60px;
    margin-left: 206px;
    position: absolute;
    text-align: center;
}